body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 255, 238);
}

h1{
    font-family: "Arial", sans-serif;
    font-size: 4.2rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 45px;
    padding: 35px;
    background-color: rgb(253, 238, 251);
}

#display{
    font-size: 3.8rem;
    margin-bottom: 20px;
}

.btn{
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 5px;
    min-width: 120px;
    cursor: pointer;
    border: none;
    border-radius: 18px;
    color: white;
    transition: background-color 0.5s ease;
}

#start{
    background-color: rgb(74, 220, 74);
}

#start:hover{
    background-color: rgb(74, 190, 74);
}

#reset{
    background-color: rgb(100, 102, 221);
}

#reset:hover{
    background-color: rgb(87, 89, 194);
}

#stop{
    background-color: rgb(220, 74, 74);
}

#stop:hover{
    background-color: rgb(190, 63, 63);
}